asgiref==3.3.4
astroid==2.5.6
cffi==1.14.5
cql==1.4.0
crispy-forms-materialize==0.2
cryptography==3.4.7
Django==3.2.1
django-crispy-forms==1.11.2
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
mysql-connector==2.2.9
mysql-connector-python==8.0.24
mysqlclient==2.0.3
Pillow==8.2.0
protobuf==3.15.8
psycopg2==2.8.6
pycparser==2.20
pylint==2.8.2
pylint-django==2.4.4
pylint-plugin-utils==0.6
PyMySQL==1.0.2
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
thrift==0.13.0
toml==0.10.2
wrapt==1.12.1
